<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button class="hamburg" onclick="openMenu()">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="index.html">Amazon</a>
            </div>
            <div class="header-links">
                <!-- <div class="search">
                    <span> <input type="text"> </span>
                    <span><i class="fa fa-search"></i></span>
                </div> -->
                <a href="cart.html">Cart</a>
                <a href="signin.html">Signin</a>
            </div>
        </header>
        <aside class="sidebar">
            <h1 class="category">Shopping Categories</h1>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul class="sidebar-items">
                    
                <li>
                    <a href="index.html">Pants</a>
                </li>

                <li>
                    <a href="index.html">Shirts</a>
                </li>

            </ul>
        </aside>
        <main class="main">

            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68 <i class="fa fa-inr"></i></div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="p-pic" src="images/t-shirt_1.jpg" alt="pic">
                            <div class="p-name"><a href="/">Slim T-shirt</a></div>
                            <div class="p-brand">Nike</div>
                            <div class="p-price">68$</div>
                            <div class="p-rating">
                                4.5 Stars (5 reviews)
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </main>

        <footer class="footer footer-distributed">
            <div class="footer-left">
                <h3> <span>Amazon</span>
                    <span><img src="https://static.showit.co/1200/9pF995IrQ-69tr5HpU0oag/76066/jj_logo_orig_1.png"></span>
                </h3>
                <p class="footer-links">
                    <a href="#">Home</a>

                    <a href="#">Policies</a>

                    <a href="#">Pricing</a>

                    <a href="#">About</a>

                    <a href="#">Faq</a>
                </p>

                <p class="footer-company-name">Amazon © 2015</p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <p>Contact Us</p>
                <form action="#" method="post">
                    <input type="text" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    <button>Send</button>
                </form>
            </div>
        </footer>

    </div>


    <script>
        function openMenu() {
          document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
          document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>

</html>